.drum-pad {
    width: 280px;
    height: 100px;
    color: #fff;
    background-color: #555;
    border: 1px solid #2196f34f;
    /* margin: 5px; */
    font-size: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drum-pad:active {
  background-color:#ffc107;
  color: #333;
  border: 1px solid #333;
  
}
.title-name-audio {
    text-align: center;
    margin:0;
}
.Disabled :disabled {
  background: #344343;
}