.button-Slide {
flex-direction: column;
color:#fff;
}
.title-drum-machine {
text-align: center;
color: #333;
font-size: 72px;
margin: 0px;
border: 2px solid;

}
.drum-container {
  display: flex;
 justify-content: center;
 background-color: #333;
 background-image: url(./james-owen-653039-unsplash.jpg);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#drum-machine {
width: 850px;
height: 600px;
padding: 35px;
margin-top: 0px;
background-color:rgba(219, 219, 219, 0.5);
}
#display {
  text-align: center;
  color: #fff;
}


.drum{
  display: flex;
  flex-wrap: wrap;
  width: 850px;
  padding-top:30px;
}

